extends ../../lib/templates/layout

block case
	.case.case-ing

		//- Slide INFO
		section.slide
			.box.box-info
				.visu.visu-info
					.container-fluid
						header.row-fluid
							.span12
								h1.pull-left.orange
									span Case
									+t('case_title', 'ING jobs')
						.row-fluid.description
							.span5
								h2.orange
									+t('case_description', 'A facelift to attract new job seekers')
								+infoBox()


		//- Slide CHALLENGE
		section.slide
			.box.box-challenge
				.visu.visu-challenge
					.container-fluid
						.row-fluid
							.span6.offset6
								h2.orange Challenge
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nisi, pulvinar vitae mi vel, consequat eleifend enim. Curabitur iaculis volutpat massa at vestibulum.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nisi, pulvinar vitae mi vel, consequat eleifend enim. Curabitur iaculis volutpat massa at vestibulum.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nisi, pulvinar vitae mi vel, consequat eleifend enim. Curabitur iaculis volutpat massa at vestibulum.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nisi, pulvinar vitae mi vel, consequat eleifend enim. Curabitur iaculis volutpat massa at vestibulum.

		//- Slide CONCEPT
		section.slide
			.box.box-concept
				.visu.visu-concept.visu-light-bg
					.container-fluid
						.row-fluid
							.span4
								h2.orange Concept
								p The job description, the daily content of the work, the context and working environment, the colleagues, the bosses, are all such important parts of anyone’s life, that these should be set out clearly from the start. We wanted to give a richer picture of what life at ING is really going to be like - to prospective employees.
								p Our concept was to create a window on the ING universe, as a place to work, not simply a page listing job vacancies.
								p To do this, we wanted to make use of a couple of assets that ING has in its favour: a huge interest and investment in the art world and a multitude of events and activities happening in its midst.
							.span8.concept
								.visible-desktop-1024
									img(src=imgPath + "/concept-box-event.jpg" alt="Box Event" class="box-1" data-bottom="opacity:0" data--300-bottom="opacity:1" data-top="opacity:0.5")
									img(src=imgPath + "/concept-box-job_tv.jpg" alt="Box Job TV" class="box-2" data-200-bottom="opacity:0" data--50-bottom="opacity:1" data-150-top="opacity:0.2")
									img(src=imgPath + "/concept-box-art.jpg" alt="Box Art" class="box-3" data--100-bottom="opacity:0" data--350-bottom="opacity:1" data-top="opacity:0.6")
									img(src=imgPath + "/concept-box-youtube.jpg" alt="Box Youtube" class="box-4" data--150-bottom="opacity:0" data--200-bottom="opacity:1")
									img(src=imgPath + "/concept-box-video.jpg" alt="Box Video" class="box-5" data--50-bottom="opacity:0" data--100-bottom="opacity:1")
									img(src=imgPath + "/concept-box-job.jpg" alt="Box Job" class="box-6" data--350-bottom="opacity:0" data--400-bottom="opacity:1")
									img(src=imgPath + "/concept-box-minute_orange.jpg" alt="Box Minute Orange" class="box-7" data--200-bottom="opacity:0" data--250-bottom="opacity:1")
								.hidden-desktop-1024
									img(src=imgPath + "/concept-box-responsive.png" alt="Box Event - Job TV - Art - Youtbe - Video - Job - Minute Orange")

		//- Slide DESIGN
		section.slide
			.box.box-design
				.visu.visu-design.bg-style.bg-jeans
					.container-fluid
						.row-fluid
							.span6
								h2.orange The Design
						.row-fluid
							.span6
								img(src=imgPath + "/design-page-home.jpg" alt="Home page")
								img(src=imgPath + "/design-page-events.jpg" alt="Events page")
							.span6
								h4 One page
								p The web page was conceived as a single long window, showing off all kinds of rich information on the company events and activities, videos of likeable ING staff talking about the details of their work and working environment.
								.design
									img(src=imgPath + "/design-page-jobs_filter.jpg" alt="Jobs Filter page")
									img(src=imgPath + "/design-page-job_tv.jpg" alt="Job TV page")
									img(src=imgPath + "/design-page-blog.jpg" alt="Blog page")

						.mask
						.mask-fixed


		//- Slide ARTISTIC
		section.slide
			.box.box-artistic(data-bottom-top="background-position:center 70%" data-top-bottom="background-position:center 30%")
				.visu.visu-artistic
					.container-fluid
						.row-fluid
							.span5.offset7
								h4 Artistic orientation
								p Reference is also made to the artistic orientation of the company with one of the bank’s commissioned art works as a background.
								p As an added feature, the scrolling window actually contains windows (or holes) to be able to view the work of art underneath!


		//- Slide BOOKMARK
		section.slide
			.box.box-bookmark
				.visu.visu-bookmark.bg-style.bg-jeans
					.container-fluid
						.row-fluid
							.span5
								h4 Bookmark
								p Another innovation: To enhance the utility as a recruitment page, users can tag or ‘star’ their favourite job ads to save and read later or compare.
							.span7
								img(src=imgPath + "/bookmark.png" alt="Bookmark")
						.row-fluid
							.span12.bookmark
								img(class="bg" src=imgPath + "/bookmark-video-bg.png" alt="Video Background")
								.video
									img(class="ratio" alt="ratio img" src=imgPath + "/ratio-16x9.jpg")
									iframe(src="//player.vimeo.com/video/110364486"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)


		//- Slide WELCOME
		section.slide
			.box.box-welcome
				.visu.visu-welcome.visu-light-bg
					.container-fluid
						.row-fluid
							.span6
								h2.orange Welcome on board
								p Since the window on the ING world world was so successful, we went on to create a ‘pre-boarding’ page, where new employees, before starting their ING job, would be able to enter into the ING universe and learn more about the job, the colleagues, the bosses etc. By signing in with their Linked-In profile, they will even be shown any of their Linked-In connections who are working at ING.
						.row-fluid
							.span12.welcome
								img(src=imgPath + "/welcome-box-practical_infos.jpg" alt="Box - Practical Infos" class="first" data-bottom="opacity:0;top:30px" data--100-bottom="opacity:1;top:0")
								img(src=imgPath + "/welcome-box-linkedin.png" alt="Box - Linkedin" class="middle" data--100-bottom="opacity:0;top:30px" data--200-bottom="opacity:1;top:0")
								img(src=imgPath + "/welcome-box-are_you_ing.jpg" alt="Box - Are you ING" class="last" data--200-bottom="opacity:0;top:30px" data--300-bottom="opacity:1;top:0")


		//- Slide ABOUT
		section.slide
			.box.box-about.bg-style.bg-jeans
				.visu.visu-about
					.container-fluid
						.row-fluid
							.span7.about
								.visible-desktop-1024
									img(src=imgPath + "/about-page-art_sponsoring.png" alt="Art Sponsoring Page" class="back" data-bottom="left:25%" data--150-bottom="left:-20%;")
									img(src=imgPath + "/about-page-galleries.png" alt=" Galleries Page" class="middle" data-bottom="left:25%" data--100-bottom="left:-5%;")
									img(src=imgPath + "/about-page-home.png" alt=" Home Page" class="front")
								.hidden-desktop-1024
									img(src=imgPath + "/about-pages-responsive.png" alt="Art Sponsoring - Galleries - Home Page")
							.span5
								h2.orange About ING
								p As a further proof of concept, ING decided to use the same universe design in the About section of the website. Also a main destination for job-seekers but also customers and prospects, this way ING puts it strong foot forward!


		//- Slide RESULTS
		section.slide
			.box.box-results
				.visu.visu-results
					.container-fluid
						.row-fluid
							.span6
								h2.orange Results
								.quote
									span.quote_begin
									p With this revamping, we have not only a more attractive and dynamic way of communicating with potential staff, but an entirely new approach. Our recruitment and on-boarding pages are very user-centred, delivering useful and informative content, with a more social and innovative approach.
									span.quote_end
									p.author Anne-Catherine Zoller
							.span6.results
								img(src=imgPath + "/results.png" alt="Results")


		//- Slide DISCOVER
		section.slide
			.box.box-discover
				.visu.visu-discover
					.container-fluid
						.row-fluid
							.span8.offset2
								h2 Discover careers <br>at ING Belgium
								a.btn.gray.btn-large(href='http://www.ing.jobs/belgium.htm' target='_blank') Go to the Website