mixin header()
    // Header
    if environment === 'development'
        include header
    else
        s:snippet(name="header")

mixin loadProjectData()
    // Load Project Data
    if environment === 'production'
        s:loadProjectData

mixin pageSettings()
    // Page settings
    if environment === 'production'
        s:set(name="category", value="WORK")

mixin infoBox()
    // Info Box
    if environment === 'development'
        .info
            .row-fluid
                .span5 Client:
                .span7 #{metas.customer}
            .row-fluid
                .span5 Services:
                .span7
                    each val in metas.services
                        span= val
            .row-fluid
                .span5 Agency:
                .span7 #{metas.subsidiary}
    else
        s:snippet(name="case-info-box")

mixin contactBox()
    // Box Contact
    if environment === 'development'
        include contact
    else
        s:snippet(name="case-box-contact")

mixin footer()
    // Footer
    if environment === 'development'
        include footer
    else
        s:snippet(name="footer")

mixin t(key, defaultText, mode)
    if environment === 'development'
        if mode === 'simple'
            | #{defaultText}
        else
            | !{defaultText}
    else
        s:content(part=key, mode=mode) !{defaultText}

//- VIMEO
//-	Generate html for a vimeo video
//-	Params : Id of the video

mixin vimeo(id)
    .video
        if environment === 'development'
            img(class="ratio", alt="ratio img", src="../img/ratio-16x9.jpg")
        else
            img(class="ratio", alt="ratio img", src="/assets/themes/emakina2013/img/ratio-16x9.jpg")
        iframe(src="//player.vimeo.com/video/" + id, frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

//- QUOTE
//- Generate html for a quote
//- Params : Quote + Author

mixin quote(quote, author, office)
    .quote
        span.quote_begin
        p #{quote}
        span.quote_end
        div.author
            p #{author}
                span #{office}

